
<h1>Information Technology Solutions</h1>
<p>Upon successful completion of the program, a graduate will:</p>
<ul>
    <li>Configure database systems to meet data collection and client goals.</li>
    <li>Design customized software using data structures and design patterns to meet design goals.</li>
    <li>Fix system configurations across operating systems to address IT challenges.</li>
    <li>Analyze data and industry trends to inform IT design solutions.</li>
    <li>Capture software requirements for information exchange to facilitate software design.</li>
    <li>Create service-oriented architecture and enterprise applications to meet clients’ IT needs.</li>
    <li>Apply project management skills to plan and execute IT projects to required specifications.</li>
    <li>Integrate software to strategically create original IT solutions.</li>
    <li>Address ethical issues in IT projects to protect the rights of both industry and users.</li>
    <li>Implement personal and professional development strategies to improve job performance and promote professional growth.</li>
    <li>Develop mobile applications using object-oriented methodologies and languages that meet usability standards.</li>
</ul>