<!DOCTYPE html>
<html>
<head>
  <title>Invoice Page</title>
</head>
<body>
  <h1>Invoice Page</h1>
  {{#if invoiceID}}
    <p>Invoice ID: {{invoiceID}}</p>
  {{else}}
    <p>Invoice not found.</p>
  {{/if}}
</body>
</html>
