<!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> -->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <title>{{title}}</title>
</head>
<body>
  <header>
   {{> header}}
  </header>
  <main>
    {{> indexData}}
  </main>

  <footer>
    {{> footer}}
  </footer>
</body>
</html>
